*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --color-base-whith: #ffffff;
    --color-base-gray: #636363;
    --color-gray-light: #f4f4f4;
    --color-base-green: #15b658;
}
.hide{
    display: none;
}
.hide2{
    opacity: 0;
    visibility: hidden;
   
}
html, body, input{
    font-family: "Open Sans", sans-serif;

/* header */
/* nav */

}
.modal-wrapper{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-content: center;
  
    
}
.close{
    position: absolute;
    color: var(--color-base-whith);
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    
}
/*modal*/
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--color-base-whith);
    max-width: 44rem;
    height: 100vh;
    z-index: 1;
    
    
}
.modal h1{
    background-color: black;
    text-align: center;
    color: var(--color-base-whith);
    font-size: 1.6rem;
    padding: 2rem;
}
.modal ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal ul li{
    list-style: none;
    padding: 1rem 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-base-gray);
}
.modal .social{
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
}
.modal .social button{
    background-color: var(--color-base-whith);
    border: none;
    width: 100%;
    justify-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-base-gray);
}
.button-social{
    display: flex;
    align-items: center;
    width: 90%;
   height: 4rem;
   background: var(--color-base-whith);
   border: 1px solid var(--color-base-gray);
   border-radius: 2rem;
   padding: .5rem;
}
.button-social img{
    width: 2.4rem;
}
form{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
form input{
    
    width: 100%;
    height: 4.5rem;
    border: 1px solid var(--color-base-gray);
    border-radius: 1rem;
    margin-top: 1rem;
}
form label{
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 3rem;
    color: var(--color-base-gray);
}

.add{
    height: 4.5rem;
    background-color: var(--color-base-green);
    color: var(--color-base-whith);
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 6rem;
}


header{
    width: 100%;
    height: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img-header.jpg) ;
    background-size: cover;
    background-position: center; 
}
header nav{
    width: 100%;
    display: flex;
    height: 6rem;
    position: fixed;
    color: var(--color-base-whith);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem ;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-pg{
    width: 4rem;
    height: 4rem; 
}
.logo-photo{
    width: 16rem;
    height: 1.6rem;
    margin: 0 1rem;
    display: none;
}
.icon-search-hide{
    display: none;
    font-size: 1.7rem;
    color: var(--color-base-gray);
}
.bar{
    display: none;
}

.bar input{
    display: none;   
}
.bar .wrapper{
    display: none;   
}
.bar button{
    display: none;  
}
button p{
    color: var(--color-base-gray);
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
}
.navScroll{
    background-color: var(--color-base-whith);
    color: var(--color-base-gray);
}
header ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem ;
}
nav ul li{
    text-decoration: none;
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 600;
    list-style-type: none;   
}

.load{
    background-color: var(--color-base-green);
    width: 11rem;
    padding: 1rem;
    border-radius: 3rem;
    color: var(--color-base-whith);
}
header li:nth-child(3){
    background-color: rgba(0, 0, 0, .1);
    padding: 1rem 2rem;
    border-radius: 3rem;
}
.menu{
    font-size: 2rem;
}
/*title*/

.title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 13rem 2rem 1rem;
    width: 90%;
    align-items: start;
}
h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-base-whith);
    text-align: left;   
}
header p{
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
    color: var(--color-base-whith);
}
header img{
    height: 5rem;
    width: 5rem;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 2rem;
    background-color: var(--color-base-whith);
    border-radius: 3rem;
}
input{
    width: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
}
.wrapper{
    width: 45%;
    display: flex;
    align-items: center;
}
.search button{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;   
}
button p{
    color: var(--color-base-gray);
    font-weight: bold;
    font-size: 1.3rem;
    width: 12rem;
    margin: 0;
}
.icon-search, .icon-down{
    font-size: 1.6rem;
    margin: 0 .5rem;
}

/*main*/
/*section*/

main{
    display: flex;
    flex-direction: column;
    margin: auto;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
section ul{
    width: 100%;
    gap: 4rem;
    display: flex;
    padding: 2rem 2rem 4rem;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
}
section ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-base-gray); 
    gap: .5rem;
}

.select{
    background-color: var(--color-gray-light);
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.select:nth-child(1){
   color: var(--color-base-green);  
}
section button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 95%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid var(--color-base-gray);
    background-color: var(--color-base-whith);
}
.settings{
    display: flex;
    align-items: center;
    width: 100%;
}
.icon-settings{
    font-size: 2rem;
}

.options{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 1rem;
}
.tags{
  display: flex;
  width: 100%;
  gap: 1.2rem;
  margin: 2rem 1rem;
  overflow-x: scroll;
  
}
.tags::-webkit-scrollbar {
    display: none;
}
section ul::-webkit-scrollbar {
    display: none;
}
.tags p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 6.5rem;
    font-size: 1.3rem;
    padding: .4rem 2rem;
    border: 1px solid var(--color-base-gray);
    border-radius: 1rem;    
}
/*article*/
article{
   padding: 1rem;
}
figure{
    margin: 1rem 0;
}
img{
  width: 100%;  
}
main button{
    align-self: center;
    background-color: var(--color-base-whith);
    color: black;
    font-weight: bold;
    border: 1px solid var(--color-base-gray);
    padding: 1rem 2rem;
    border-radius: 3rem;
}
/*footer*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
}
footer img{
    width: 20rem;
    margin: 5rem;
}
footer p{
    font-size: 1.4rem;
    margin: 1rem;
}
footer ul{
    display: flex;
}
#social-links {
    display: flex;
    justify-content: center;
    padding: 2.4rem;
    font-size: 2.4rem;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    transition: background 0.2s;
    border-radius: 50%;
    color: var(--color-base-gray);
}
#social-links a:hover{
    background: var(--color-base-gray);   
}


@media (min-width: 800px){
    .hide{
        display: block;
    }
    /*header*/
    header{
        height: 45rem;
    }
    .logo-pg{
        display: none;
    }
    .logo-photo{
        display: block;
    }
    /*bar*/
    .bar{
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;
        background-color: var(--color-gray-light);
        margin: 0 1rem;
        border-radius: 3rem;
    }
    .bar input{
        display: flex;
        width: 100%;
        font-size: 1.3rem;
        border: none;
        outline: none;
        background-color: var(--color-gray-light);
    }
    .bar .wrapper{
        background-color: var();
        display: flex;
        align-items: center;
    }
    .bar button{
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent; 
    }
    .icon-search-hide{
        display: none;
        overflow: hidden;
        width: 0;
        height: 0;
    }
    .menu{ 
        display: none;
    }
    /*title*/
    .title{
        width: 78rem;
        margin: 13rem 0rem 1rem;
    }
    h1{
        font-size: 3.1rem;
    }
    section ul{
        padding: 3rem 0rem 2rem;
        justify-content: center;
    }
    section ul li{
        font-size: 1.5rem;
    }
    .search{
        width: 78rem;
        margin: 2rem 0;
    }
    
    /*main*/
    .options{
        flex-direction: row;
        width: 97%;
        justify-content: space-between;  
    }
    .tags{
        width: 70%;
    }
    .settings{
        width: 30rem;
    }
    .settings button{
        width: 20rem;
    }
    .tags p{
        height: 3rem;
        width: 6.5rem;
        font-size: 1.3rem;
        padding: .4rem 2rem;   
    }
    article{
        column-count: 4;
        padding: 2rem;
        margin: 0;
        border: 0;
        gap: 0;
    }
    figure{
        margin: 1rem;
    }
}